.backgroundcreate{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }

.textBackgroundcreate{
  background: rgba(105, 105, 105, 0.2); 
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); 
  color: #00336D;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Barlow";
}

.titlesText{
  color: #00336D;
  font-size:x-large;
}

.textAreaCreate::placeholder{
  color: #b9b9b9;
  font-size: small;
}

.buttonCreate:hover{
  background-color: #00336D;
  color: white;
}

.buttonCreate label:hover{
  color: white;
  cursor: pointer;
}