.backgroundcreate{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }

.textBackgroundcreate{
  background: rgba(1, 0, 41, 0.7); 
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Barlow";
}

.titlesText{
  color: #469DFF;
  font-size:x-large;
}

.textAreaCreate::placeholder{
  color: #b9b9b9;
  font-size: small;
}

.buttonCreate:hover{
  background-color: #469DFF;
  color: white;
}

.buttonCreate label:hover{
  color: white;
  cursor: pointer;
}