/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
body{
  background-color: #ffffff;
}
.background{
  padding-top: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.letters-card{
  width: 650px;
  height: 80px;
  background: rgba(105, 105, 105, 0.178);
  border-radius: 16px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.8) 0 2px 4px,rgba(10, 0, 53, 0.267) 0 7px 13px -3px,#000038 0 -1.5px 0 inset;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  color: #00336d;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.card{
    background: rgba(215, 214, 248, 0.8);
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 2px 4px,rgba(255, 255, 255, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    color: rgb(255, 255, 255);
    height: 440px;
}
.cardmiddle{
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: center left;
  background: rgba(223, 223, 223, 0.178);
  border-radius: 16px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(255, 255, 255, 0.8) 0 2px 4px,rgba(10, 0, 53, 0.267) 0 7px 13px -3px,#000038 0 -1.5px 0 inset;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  color: #00336d;
  height: 150px;
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 400px;
}
.cardmiddle h5{
  margin: 20px;
  margin-top: -110px;

}
.cardmiddle p{
  padding-top: 120px;
  
}

.cardtitle{
  background: rgba(223, 223, 223, 0.178);
  border-radius: 16px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.8) 0 2px 4px,rgba(10, 0, 53, 0.267) 0 7px 13px -3px,#000038 0 -1.5px 0 inset;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  color: #00336d;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  font-size: 30px;
  height: 60px;
  width: 200px;
  margin-bottom: -10px;
}

.card img{
  height: 300px;
}
.img img{
  transition:  opacity .3s ease;
}
.img:hover img{
  opacity: 1;
}
figcaption{
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  transition: opacity .3s ease;
  align-items: center;
}
.img:hover figcaption{
  opacity: 1;
}
.fig{
  border-radius: 10px;
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.card2{
    width: 700px;
    height: 300px;
    background: rgba(70, 68, 109, 0.747);
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 2px 4px,rgba(255, 255, 255, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    color: white;
    display: flex;
    white-space: normal;
    position: relative;
    margin-left: 10px;
}
.card2 img{
    height: 300px;
    width: 350px; 
    margin-left: -12px;
    border-radius: 16px;
}
.font{
  position: absolute;
  top: 10px;
  left: 5px;
}
.font1{
  position: absolute;
  top: 60px;
  left: 5px;
}
.font2{
  position: absolute;
  top: 10px;
  left: 300px;
}
.readmore{
  position: absolute;
  top: 240px;
  left: 570px;
}

.text{
  overflow: auto;
}

.scrolling-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 10px; 
    height: 400px;
    transition: transform 0.3s;
  }
  .scrolling-container::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
    border-radius: 5px; 
    box-shadow: rgba(255, 255, 255, 0) 0 4px 8px; 
  }
  .scrolling-container::-webkit-scrollbar {
    width: 10px;
  }
  .top-scrolling-container{
    position: relative;
  }
  .viewport{
    overflow: hidden;
    width: 100%;
  }
  .card-body img{
    border-radius: 15px;
  }
  .btn1card{
    margin-top: -65px;
  }
.btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 2px 4px,rgba(255, 255, 255, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.btncard2{
  width: 100px;
}
#favbtn{
  margin-bottom: 20px;
}

.scrolling-container {
  position: relative;
  overflow: hidden; 
}

.scroll-control-prev,
.scroll-control-next {
  position: absolute;
  top: 41.5%;
  z-index: 1; 
  border: none;
  padding: 8px 12px;
  color: #fff;
  background-color: rgba(167, 167, 167, 0.747);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;  height: 320px;
  border-radius: 15px;
}

.scroll-control-prev {
  left: 0;
  transform: translateY(-50%);
}

.scroll-control-next {
  right: 0;
  transform: translateY(-50%);
}

.scroll-control-prev:hover,
.scroll-control-next:hover {
  background-color: rgba(143, 139, 192, 0.747);
  transition: background-color 0.5s;
  width: 200px;
  transition: .5s ease;
}
.sliding-card {
  transition: transform 0.7s ease;
}


#carouselExampleControls{
  width: 50%;
  border-radius: 15px;
  overflow: hidden;
}
.carousel-item{
  border-radius: 15px;
  overflow: hidden;
}
.carousel{
  width: 50%;
}

@media only screen and (max-width:600px) {
  .card-carousel-header{
    display: flex;
  }
  .card-top{
    width: 100%;
  }
  #carouselExampleControls{
  width: 100%;
  }
}
