.backgroundProfile{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Barlow";
  font-size: large;
  min-height: 100rem;
}
.textBackgroundProfile{
background: rgba(255, 255, 255, 0.8); 
color: #00336D;
padding-top: 10rem;
padding-bottom: 1rem;
}
.myBoxBackground{
backdrop-filter: invert(20%);
padding: 0.3rem;
padding-bottom: 0.1rem;
border-radius: 5px;
}
.myEmailBoxBackground{
  background-color: #00336D;
  color: #ffffff;
  padding: 0.3rem;
  padding-bottom: 0.1rem;
  border-radius: 5px;
  }
.avatarImage{
height: 10rem;
padding-right: 3rem;
border-radius: 5px;
}
.imagePostProfile{
  height: 10rem;
  padding-left: 2rem;
  border-radius: 5px;
  }
.buttonProfileDiv{
  margin-top: 2em;
}
.iconLink{
  cursor: pointer;
  color: #00336D;
}
.iconLink i:hover{
  color: rgb(255, 0, 0);
}
.cardContainerProfile{
  color: #00336D;
  background: rgba(105, 105, 105, 0.1);
  box-shadow: rgba(255, 255, 255, 0.9) 0 2px 4px,rgba(10, 0, 53, 0.267) 0 7px 13px -3px,#000038 0 -1.5px 0 inset;
  height: 20rem;
  padding-bottom: 5rem;
}
.titleCardProfile{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.titleTextProfile:hover{
  color: #00336d7c;
  cursor: pointer;
}
.cardTextProfile{
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .pText{
    font-size:medium;
  }
  .cardTextProfile {
    display: none;
  }
  .cardContainerProfile{
    height: 25rem;
  }
  .imagePostProfile{
    width: 20rem;
    padding-left: 0rem;
    border-radius: 5px;
    }
}
