/* Custom properties -->*/
/*-----------------------*/

:root {
    /* Colors*/
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* Font sizes*/
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* Font families*/
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* Reset*/
/*-----------------------*/
/* Box sizing 

/* Reset margins*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logoB {
    width: 3rem;
    height: 3rem;  
}
    
header {
    z-index:999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(var(--clr-white) /1);
    border-bottom: 1px black solid;
    padding: 0 1rem;
    transition: 0.5s;
    height: 5rem;
}

header .logo {
    color: hsl( var(--clr-dark) / 1);
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;  
}

header .logo:hover {
    font-weight: 900;
    color: rgb(42, 158, 204);
    transition: 0.9s;
}

header .navigation{
    position: relative;
    line-height: 3rem;  
}

.navigation, .menu, ul{
    margin-bottom: 0;
}

header .navigation .menu-unactive,header .navigation .menu-active{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    user-select: none;
    border-radius: 0.5em; 
        
}

.menu-item,.linkit {
    color: hsl( var(--clr-dark) / 1);
    text-decoration: none; 
    font-weight: 500;
}

.menu-item1 { 
    color: hsl( var(--clr-dark) / 1);
    text-decoration: none;  
    cursor: pointer; 
    font-weight: 500;
}

.num {
    color: hsl( var(--clr-dark) / .7);
    /*font-weight: 800; */
    margin-right: 0.5rem;
    /*font-size: 1.6rem; */
}

.num:hover{
    color:rgb(42, 158, 204);
    transition: 0.5s;
}

 :Link {
    text-decoration: none;
      
 }

 .menu-item a:hover {
    color:rgb(42, 158, 204);
    transition: 0.3s;
 }

 .menu-item1:hover {
    color:rgb(42, 158, 204);
    transition: 0.3s;
 }

 .close-btn{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 1.5rem;
    background-position: center;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 50px;
    display: none;  
}

.hamburger-btn{
    width: 3rem;
    height: 3rem;
    background-size: 1.5rem;
    background-position: center;
    cursor: pointer;
    margin: 10px;
    display: none;
}

.fa-house, .fa-right-to-bracket, .fa-book-open{
    scale: 0.6;    
}


.fa-user, .fa-book-open{
    scale: 0.6;
    color: hsl( var(--clr-dark) / 1);
}

.fa-chevron-down {
    scale: 0.5;
}

.fa-cloud-sun-rain:hover::before{
    color: rgb(53, 15, 156);
    transition: 0.5s ease;  
}

.select-btn{
    border-radius: 0.2rem;
}

ul.dropdown{
    position: absolute;
    top: 5.5rem;
    right: 1.15rem;
    padding:2px;
    width: 245px;
    border-radius: 8px;
    background-color: hsl( var(--clr-white) / 1);
    box-shadow: 0 0px 5px rgb(0 0 0 / 40%);
    z-index: 2000;
}

.dropdown::before{
    content:'';
    position: absolute;
    top: -0.8rem;
    right: 2.0rem;
    padding:2px;
    width: 25px;
    height: 25px;
    background-color: hsl( var(--clr-white) / 1);
    transform: rotate(45deg);
    border-left: 1px solid rgb(0 0 0 / 40%);
    border-top: 1px solid rgb(0 0 0 / 40%); 
    
}

.dropdown-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:0.5px white solid;
    background-color: hsl( var(--clr-white) / 1);
    border-radius: 8px;
    z-index: 2000;
}

.dropdown-item, .item-text {
    color:black;
}

.menu-item,.select-btn {
    color: hsl( var(--clr-dark) / 1);
    text-decoration: none; 
}

.num-btn {
    color: hsl( var(--clr-dark) / .7);
    /*font-weight: 800; */
    margin-right: 0.5rem;
    /*font-size: 1.6rem; */
}

.num-btn:hover{
    color:rgb(42, 158, 204);
    transition: 0.5s;
}


@media (max-width:1600px) {
    header .navigation .menu-unactive{
       display: none;    
    } 
    
    header .navigation .menu-active{
        z-index: 1000;
        position: fixed;
        display: block;
        background: hsl(var(--clr-white) /1);
        background: linear-gradient(to bottom, hsl(var(--clr-light) /1), hsl( var(--clr-light) / .2));
        backdrop-filter: blur(1.0rem);
        min-width: 5rem;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 90px 50px;
           
    } 

    ul.dropdown{
        position: absolute;
        top: 25rem;
        right: 4.45rem;
        padding:2px;
        width: 245px;
        border-radius: 8px;
        background-color: hsl( var(--clr-white) / 1);
        box-shadow: 0 0px 5px rgb(0 0 0 / 40%);
    }

    .dropdown::before{
        content:'';
        position: absolute;
        top: -0.8rem;
        right: 2.0rem;
        padding:2px;
        width: 25px;
        height: 25px;
        background-color: hsl( var(--clr-white) / 1);
        transform: rotate(45deg);
        border-left: 1px solid rgb(0 0 0 / 40%);
        border-top: 1px solid rgb(0 0 0 / 40%);   
    }

    .close-btn{
        display: block;    
    }
       
    .hamburger-btn{
        display: block;
    }         
}
  
.back-weather{
    position: absolute; 
    top: 0;
    left: 0;
    height: 150px !important;
    object-fit: cover !important;   
}

.btn-close{
    position: absolute;
    right: 30px;   
}

/*.wrapper {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    width: 25rem;
    height: 27.5rem;
    background: linear-gradient(to bottom, hsl(var(--clr-light) /1), hsl( var(--clr-light) / .2));
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1.2rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}*/
.wrapper {
    position: absolute;
    width: 22rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, hsl(var(--clr-light) /1), hsl( var(--clr-light) / .5));
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1.2rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 1001;
}


.title-login .iconRegist{
    font-size: 2.0em;
    padding-right: 0.5rem;
   
}

.wrapper .icon-close{
    position: absolute;
    top:0;
    right:0;
    width: 45px;
    height: 45px;
    background: hsl( var(--clr-dark) / 1);
    font-size: 2em;
    color: hsl( var(--clr-white) / 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1; 
     
}

.icon-close:hover{
    color: rgb(185, 49, 49);
    transition: all 0.5s ease-in-out;
}

.title-login{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.title-login .iconUser{
    font-size: 3.5em;
   
}

.form-box-login h2{
    font-size: 2em;
    color: hsl( var(--clr-dark) / 1);
    text-align: center;
}

.input-box{
    position: relative;
    height: 50px;
    border-bottom: 1px solid hsl( var(--clr-dark) / 1);
    margin: 30px 20px;
    
}

.input-box label {
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:  hsl( var(--clr-dark) / 1);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label{
    top: -5px;
}


.input-box input{
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: hsl( var(--clr-dark) / 1);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .iconlog{
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color: hsl( var(--clr-dark) / 1);
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: hsl( var(--clr-dark) / 1);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;

}

.remember-forgot label input{
    accent-color: hsl( var(--clr-dark) / 1);
    margin-right: 3px;
}

.remember-forgot a{
    color: hsl( var(--clr-dark) / 1);
}

.remember-forgot a:hover{
    text-decoration: underline;
}


.btn-login-parent, .btn-register-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit{ 
    margin-top: 1rem;
    width: 70%;
    height: 45px;
    background: hsl( var(--clr-dark) / 1);
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    color: hsl( var(--clr-white) / 1);
    font-weight: 500;
}

.btn-submit:hover{
    color:rgb(42, 158, 204);
    transition: all 0.4s ease-out;
}

.login-register {
    font-size: .9em;
    color:hsl( var(--clr-dark) / 1);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color:hsl( var(--clr-dark) / 1);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.register-link:hover{
    color: blue;
    transition: all 0.5s ease-in-out;
}

.login-link:hover{
    color: blue;
    transition: all 0.5s ease-in-out;
}

/*Modal Weather API */ 
.wrapper-weather {
    position: absolute;
    width:30rem;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, hsl(var(--clr-light) /.2), hsl( var(--clr-light) / .75));
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1.2rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 1001;
    /* background-image: url('../../front/img/Weather_image1_api.png');
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out; */
}

.wrapper-weather .icon-close-wt{
    position: absolute;
    top:0;
    right:0;
    width: 45px;
    height: 45px;
    background: hsl( var(--clr-dark) / 1);
    font-size: 2em;
    color: hsl( var(--clr-white) / 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;     
}

.icon-close-wt:hover{
    color: rgb(185, 49, 49);
    transition: all 0.5s ease-in-out;
}

.weather-container {
    padding: 50px;
    min-height: auto;
}

.search-box {
    width:100%;
    margin: 0 0 75px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.search-box .search-bar {
    display:block;
    width: 100%;
    padding: 15px;

    appearance: none;
    background: none;
    border:none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 16px 16px;
    margin-top: -50px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: hsl( var(--clr-dark) / 1);
    font-size: var(--fs-400);
    transition: 0.4s ease;
}

.search-box .search-bar:focus {
    background-color: hsl( var(--clr-white) / .8);
}

.location-box .location {
    color: hsl(var(--clr-white));
    font-size: var(--fs-600);
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
    color: hsl(var(--clr-white));
    font-size: var(--fs-500);
    font-weight: 300;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display:inline-block;
    margin: 10px auto;
    background-color: hsl(var(--clr-light) );
    border-radius: 16px;

    padding: 15px 25px;

    color: hsl(var(--clr-white));
    font-size: var(--fs-700);
    font-weight: 800;

    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .description {
    color: hsl(var(--clr-white));
    font-size: var(--fs-600);
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .wind {
    color: hsl(var(--clr-white));
    font-size: var(--fs-600);
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}




/* Utility classes*/
/*-----------------------

/* Colors */
.bg-dark { background-color: hsl(var(--clr-dark) );}
.bg-accent { background-color: hsl(var(--clr-light) );}
.bg-white { background-color: hsl(var(--clr-white) );}

.text-dark { color: hsl(var(--clr-dark) );}
.text-accent {color: hsl(var(--clr-light) );}
.text-white { color: hsl(var(--clr-white) );}

/* Typography */
.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


