.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Barlow";
  font-size:larger;
  padding-top: 0;
}

.textBackground{
  background: rgba(105, 105, 105, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); 
  color: #00336D;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text{
  text-align: justify;
  text-justify: inter-word;
}

.teamName{
  text-align: center;
}

.iconDiv{
  display: flex;
  justify-content: left;
}

.icon:hover{
  background-color: #00336D;
  cursor: pointer;
}

.icon {
  background-color: rgba(108, 182, 241, 0.3);
  padding: 5px 5px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1.1rem;
}

@media (max-width: 575px) {
  .iconDiv{
    justify-content: center;
  }
}











