body {
    color: rgb(255, 255, 255);
    font-family: "Barlow";
  }

.background{
  padding-top: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;}

p{
  text-align: justify;
  text-justify: inter-word;
}

h5{
  margin-bottom: 0;
  text-align: center;
  padding-top: 0.5rem;
}

i:hover{
  font-size:1rem;
  transition: 0.1s ease-out;
  cursor: pointer;
}

i {
  background-color: rgba(108, 182, 241, 0.3);
  padding: 5px 5px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1.1rem;
}




